* {
    box-sizing: border-box;
    font-family: 'Courier Prime', monospace;
}

.container {
    max-width: 1366px;
    height: 768px;
    margin: 0 auto;
    /*background-color: rgba(0, 0, 0, 0.7);*/
    /*background-blend-mode: darken;*/
    /*background-image: url("../img/background.png");*/


}
body {
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: darken;
    background-image: url("../img/background.png");
    background-size: 100%;
}

.section {
    padding: 49px 147px 47px 155px;
    height: 45px;
}


.logo-img {
    background: url("../img/logo.png");
    width: 46px;
    height: 44px;
    color: #FFFFFF;
    float: left;
    margin: 0 15px 0 0;

}

.logo {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 29px;
    text-transform: uppercase;
    text-align: left;
    font-family: 'Courier Prime', monospace;
    font-weight: bold;
    height: inherit;
    float: left;
    width: 1px;

}

.logo2 {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    text-align: left;
    font-family: 'Courier Prime', monospace;
    font-weight: bold;
    height: inherit;
    float: left;

}

.contact {
    float: right;

}

.contact-item {

    color: #FFFFFF;
    font-size: 18px;
    text-align: right;
    text-decoration: none;
    width: 200px;

}

.text-img {
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.img-shopping {
    background: url('../img/Layer1.png');
    width: 307px;
    height: 200px;
    float: left;
    margin: 4px 3px 22px 4px;

}

.shopping {

    float: left;
    width: 314px;
    margin: 48px 69px 58px 153px;
    text-align: center;
    text-decoration: none;
    color: white;

}

.img-sightseeing {
    background: url('../img/Layer2.png');
    width: 308px;
    height: 200px;
    float: left;
    margin: 4px 3px 22px 3px;


}

.sightseeing {
    float: left;
    width: 314px;
    margin: 48px 0 58px 0;
    text-align: center;
    text-decoration: none;
    color: white;
}

.img-food {
    background: url('../img/Layer3.png');
    width: 307px;
    height: 200px;
    float: left;
    margin: 4px 3px 22px 3px;

}

.food {
    float: left;
    width: 314px;
    margin: 48px 0 58px 68px;
    text-align: center;
    text-decoration: none;
    color: white;

}

.img-bars {
    background: url('../img/Layer4.png');
    width: 307px;
    height: 200px;
    float: left;
    margin: 4px 3px 22px 3px;

}

.bars {
    float: left;
    width: 314px;
    margin: 0 69px 45px 153px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.img-art {
    background: url("../img/Layer5.png");
    width: 307px;
    height: 200px;
    float: left;
    margin: 4px 3px 22px 3px;

}

.art {
    float: left;
    width: 314px;
    margin: 0 0 45px 0;
    text-align: center;
    text-decoration: none;
    color: white;

}

.img-walking {
    background: url('../img/Layer6.png');
    width: 307px;
    height: 200px;
    float: left;
    margin: 4px 3px 22px 3px;

}

.walking {
    float: left;
    width: 314px;
    margin: 0 0 45px 68px;
    text-align: center;
    text-decoration: none;
    color: white;

}

.footer {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #FFFFFF;
}

.color {
    width: 100%;
    display: inline-block;
    margin: 139px 0 0 0;
    background: transparent;
    color: #FFFFFF;
    opacity: 0;
}

.from {
    float: left;
    font-size: 10px;
    margin-left: 21px;
    margin-top: 16px;
    width: 0;
}

.price {
    float: left;
    font-size: 20px;
    margin-left: 0;
    margin-top: 31px;
    margin-bottom: 17px;
}

.details {
    float: right;
    font-size: 14px;
    margin-right: 18px;
    margin-top: 35px;
    margin-bottom: 17px;

}

.details::after {
    margin-left: 18px;
    content: '\203A';
}

.logo2:hover {
    color: #F26522;
}


a:hover {
    color: #F26522;
}
.logo-img:hover {
    filter: invert(55%) sepia(15%) saturate(7467%) hue-rotate(343deg) brightness(93%) contrast(103%);
}


.color:hover {
    background: #F26522;
    color: #FFFFFF;
    transition: all 200ms;
    opacity: 1;
}